{% extends "base.html" %}

{% block cuerpo %}
    
<div class="row"> <!--La fila-->
    
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna Izquierda-->
        <h1>Producto</h1>

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="registrarProducto/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidproducto" name="numidproducto" class="form-control" placeholder="Id Producto" minlength="1" maxlength="6" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre Producto" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtmarca" name="txtmarca" class="form-control" placeholder="Marca Producto" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txttipo" name="txttipo" class="form-control" placeholder="Tipo Producto" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numvolumen" name="numvolumen" class="form-control" placeholder="Volumen Producto" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numprecio" name="numprecio" class="form-control" placeholder="Precio Producto" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnotas" name="txtnotas" class="form-control" placeholder="Notas Olfativas" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Producto</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

    </div> <!-- Columna Izquierda-->

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
        <h1>Listdo de Productos</h1>
        <!-- La tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Volumen</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Notas Olfativas</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in misproductos %}
                    <tr>
                        <td> {{m.id_producto}} </td>
                        <td> {{m.nombre}} </td>
                        <td> {{m.marca}} </td>
                        <td> {{m.tipo}} </td>
                        <td> {{m.volumen}} </td>
                        <td> {{m.precio}} </td>
                        <td> {{m.notas_olfativas}} </td>
                        <td><a href="seleccionarProducto/{{m.id_producto}}" class="btn btn-secondary">Editar</a></td> <!-- Falta -->
                        <td><a href="borrarProducto/{{m.id_producto}}" class="btn btn-dark">Borrar</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- La tabla -->
    </div> <!-- Columna derecha -->

</div> <!--La fila-->
{% endblock %}